// Colors

/* Define Global Variables */

// Main
$color-primary: #2b7f38;
$color-accent-light: #AACCAF;
$color-accent-dark: #212822;

// Text
$color-text-heading: #212822;
$color-text-body: #0E110E;
$color-text-caption: #48644C;

// Opacity
$opacity-semi: .8;

:root {
    // Main
    --color-primary: #2b7f38;
    --color-accent-light: #AACCAF;
    --color-accent-dark: #223024;

    // Text
    --color-text-heading: #313f33;
    --color-text-body: #223024;
    --color-text-caption: #48644C;

    // Opacity
    --opacity-semi: .8;
}
