/* Typography */ 

/* -------------------------------- 
Typography

based on https://github.com/CodyHouse/codyhouse-framework
-------------------------------- */
    
    /*----------  1) Import fonts and set primary/secondary font  ----------*/

    @import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif:300,400,500');
    @import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,500,600');
    $font-primary: 'IBM Plex Serif', serif;
    $font-secondary: 'IBM Plex Mono', monospace;

    /*----------  2) Choose base font size and line height  ----------*/
    $base-font-size: 16px;
    $heading-line-height: 1.2;
    $body-line-height: 1.4;


// Apply base font size and font

html {
    font-size: $base-font-size;
    font-family: $font-primary;
}



h1, h2, h3, h4, form legend {
    line-height: var(--heading-line-height);
    margin: 0;
}

h1 {
    //font-size: var(--text-xl);

    font-size: $size-xxl;
    font-weight: bold;
}

h2 {
    font-size: var(--text-lg)
}

h3 {
    font-size: var(--text-md);
    font-weight: 300;
    font-style: italic;
}

h4 {
    font-size: 1em;
    font-style: italic;
    font-weight: 300;
}

a {
    color: var(--text-dark);
    text-decoration: none;
    opacity: var(--link-o);

    &:hover {
        text-decoration: none;
        opacity: 1;
    }
}

p {
    line-height: $body-line-height;
}

b, strong {
    font-weight: bold;
}

/* text size classes */
.caption {
    font-size: var(--text-sm);
    opacity: var(--caption-o);
    font-weight: bold;
}

.text--xxxl {
    font-size: var(--text-xxxl);
}

.text--xxl {
    font-size: var(--text-xxl);
    color: var(--text-primary);
}

.text--xl {
    font-size: var(--text-xl);
}

.text--lg {
    font-size: var(--text-lg);
}

.text--md {
    font-size: var(--text-md);
}

.text--sm, small {
    font-size: var(--text-sm);
}

.text--xs {
    font-size: var(--text-xs);
}


// Add this to automate margins inside text containers
// margins have been removed everywhere else
@mixin text-container {
    h2, h3, h4 {
        margin-top: var(--space-sm);
    }
    
    ul, ol, p {
        margin-bottom: var(--space-md);
    }

    ul, ol {
		list-style-position: outside;
        padding-left: 24px;
	}

	ul {
		list-style-type: disc;
	}

	ol {
		list-style-type: decimal;
    }

    ul li, ol li {
        line-height: $body-line-height;
    }
    
    em {
        font-style: italic;
    }

    u {
        text-decoration: underline;
    }
}

/* utility classes */
.truncate {
    // truncate text if it exceeds parent
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


