button, input[type="submit"], .button  {
    @include space-squish($space-m);
    @include text-button;
    border: 3px solid var(--color-accent-dark);
    background-color: white;
    box-sizing: border-box;
    border-radius: 3px;

    &:hover {
        box-shadow: -5px 4px 0px var(--color-accent-light);
        background: #E3EDE2;
        cursor: pointer;
        transform: translateX(2px) translateY(-3px);

    }

}

.primary {

}