
input[type="text"], input[type="email"], textarea {
    @include space-squish($space-m);
    background: #E3EDE2;
    border: 3px solid var(--color-accent-dark);
    box-sizing: border-box;
    box-shadow: -5px 4px 0px var(--color-accent-light);
    border-radius: 3px;
    width: column-spans(5);
}

#email-form {
    @include sm {
        display: flex;
        flex-direction: column;
        align-items: stretch;

        input {
            width: 100%;
            @include space-stack($space-l);
        }
    }
}

form .input{

    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    align-items: end;

    @include sm {
        display: flex;
        flex-direction: column;
        input, textarea, .form-field {
            width: 100%;
        }


    }

    input, textarea {
        margin: $space-m 0 $space-xl;
    }


	p {
		margin: 0;
	}


    textarea {
        width: 100%;
        //height: 100%;
    }

    div:nth-child(4) {
        grid-row: 1/4;
        height: 100%;

    }
}

.email-form {
    display: grid;
    grid-template-columns: repeat(2, column-spans(6));
}